<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: head"></head>
<body>
<!-- Author edition -->
<div class="container">
    <div th:insert="header :: localization"></div>
    <h1 th:text="#{author.info}">Author Info</h1>
    <form id="edit-form" action="authorList.html">
        <div class="form-group">
            <label for="id-input">ID</label>
            <input type="text" class="form-control" id="id-input" readonly="readonly" th:value="${author.id}" value="1">
        </div>
        <div class="form-group">
            <label th:text="#{author.name}" for="author-input">Name</label>
            <input type="text" class="form-control" id="author-input" th:field="${author.name}">
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit" th:text="#{button.save}">Save</button>
        </div>
    </form>
</div>
<script th:inline="javascript">
    const bookId = [[${bookId}]];
    $(document).ready(function(){
        $("#edit-form").submit(function (event) {
            //stop submit the form, we will post it manually.
            event.preventDefault()

            const author = {};
            author["name"] = $("#author-input").val()
            const id = $("#id-input").val()
            let type = "post"
            if (id != null && id.length > 0) {
                type = "put"
            }
            console.log("id", id)
            console.log("type", type)
            $.ajax({
                type: type,
                contentType: "application/json",
                url: "api/author/" + (type === "put" ? id : bookId),
                data: JSON.stringify(author),
                dataType: "json",
                success: function (data) {
                    console.log(data)
                    window.location.replace("/authors?bookId=" + bookId)
                },
                error: function (e) {
                    console.log("ERROR : ", e)
                }
            })
        })
    })
</script>
</body>
</html>