<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="#{library}">Library</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
<div th:fragment="localization">
    <div align="right">
        <button class="btn btn-link" onclick="window.location.href='/?lang=en'" type="button" th:text="#{button.localeEn}">En</button>
        <button class="btn btn-link" onclick="window.location.href='/?lang=ru'" type="button" th:text="#{button.localeRu}">Ru</button>
    </div>
</div>

</body>
</html>